.componentCard {
    border: 1px solid #ededed;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.previewContainer {
    overflow: hidden;
    padding-bottom: 57%;
    height: 0;
    position: relative;
}
.preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
}
.emptyPreview {
    background-color: #ededed;
}
.content {
    padding: 16px;
    height: calc(154px - 32px);
    .nameSpace {
        color: var(--text-muted, #6c707c);
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    .name {
        font-weight: bold;
    }
}